.btn {
  display: block;
  margin: 0 auto 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  background-color: inherit;
  border: 1px solid var(--button);
  border-radius: 12px;
  text-align: center;
  width: 156px;
  height: 44px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  border-color: var(--button-hover);
}
